

*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
    
}
.header{
    width: 1440px;
    height: 698px;
    background-image: url("images/Hero-bg.png");
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #F5F8FF;
}
.nav{
  
    width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
   
    
}
.banner{    
   
    width: 905px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
   
    
}
ul {
    display: flex;
    width: 100%; 
    justify-content: space-between;
   
    
}
li{
    list-style: none;
    

}
.btn{
    height:48px;
    width: 132px;
    background-color:#4E47FF;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
}
.logo{
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
}

.para{
    margin: auto;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    width: 905px;
    height:152px;

    
}
.main{
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F8FF;
}
.action{
    margin-top: 100px;
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;

    
}
.write{
    width:517px;
    height: 203px;
    margin: auto 0px;
    
}
.p1{
    font-size: 42px;
    font-weight: bold;
    margin: auto;
}
.p2{
    font-size: 24px;
    font-weight: 300;
}
.img1{
    width: 403px;
    border-radius: 48px;
}
.btn1{
    height:48px;
    width:229px;
    background-color:#4E47FF;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
}
.users{
    margin-top: 100px;
    width:1140px;
    height:306px;
    background-color: #4E47FF1A;
    
}
.info{
    text-align: center;
    width:856px;
    height:206px;
    margin: auto auto;
    
   
    
}
.p3{
    margin-top:50px;
    font-size: 38px;
    font-weight: bold;
}
.small{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 200;
}
.big{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: bold;
    
}
.review{
    width: 1140px;
    height: 342px;
    margin-top: 100px;
}
.p4{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.stars input {
    display: none;
}

.dibba{
    
    height: 243px;
    width:100%;
    display: flex;
    
    justify-content: space-between;
   
   

}
.box{
    padding: 24px 24px;
    width: 320px;
    background-color: #FFFFFF;


}
.intro{
    display: flex;
    align-items: center;
}
.introinfo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: center;
    
}
.p5{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.p6{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300;
}
.name{
    margin-top: 0px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.date{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300;
}
.intropic{
    height: 40px;
    width:40px;
    border-radius: 50%;

}
.focus{
    margin-top: 100px;
    height: 697px;
    background-color:#FFFFFF;
    width: 1140px;
}
